/* base.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}

/* variables.css */
:root {
  --primary-color: #f2f6fc;
  --secondary-color: #fff;
  --componet-color: #265df2;

  --error-background: #f1dfde;
  --error-text: #97564e;
  --error-icon: #d5bdb9;

  --success-background: #04aa56;
  --success-text: #fff;

  --icon-dimension: 1.375rem;
}

/* general.css */
body {
  background: var(--primary-color);
}

.login-main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  position: relative;
  background-color: var(--secondary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 6px;
  margin: 0 15px;
  padding: 1.5rem;
}

/* ==============================COMPONENTS SECTION=========================  */

/* icons.css */
.icon {
  width: var(--icon-dimension);
  height: var(--icon-dimension);
  fill: #5f6368;
  cursor: pointer;
  transition: transform 0.3s ease, fill 0.3s ease;
}

/* alerts.css */
.alert-message {
  position: relative;
  padding: 0.6rem 0.8rem;
  background-color: #fff1f2;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  height: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  display: none;
}

.alert-message.error {
  background-color: var(--error-background);
  color: var(--error-text);
}

.alert-message.success {
  background-color: var(--success-background);
  color: var(--success-text);
}

.alert-message h1 {
  font-size: 0.9rem;
  font-weight: 500;
}

.alert-message button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.25rem;

  display: flex;
  justify-items: center;

  position: absolute;
  right: -0.5rem;
  transform: translateX(-50%);
}

.alert-message button svg {
  fill: var(--error-icon);
  width: calc(var(--icon-dimension) - 0.2rem);
  height: calc(var(--icon-dimension) - 0.2rem);
}

.alert-message button svg:hover {
  fill: var(--error-text);
}

.alert-message.success button svg {
  fill: var(--success-text);
}

/* form-header.css */
.form-header {
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
}

.form-header::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 0.25rem;
  width: 2rem;
  background: var(--componet-color);
  border-radius: 1.5rem;
}

/* form.css */
form {
  margin-top: 1.4rem;
}
form .form-group label,
form .form-group small {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}
form .form-group small {
  color: red;
  margin: -0.3rem 0 0.4rem 0;
}
form .form-group small.password-text {
  font-size: 0.7rem;
  font-weight: 600;
  color: #5f6368;
}

form .form-group input,
form .form-group select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  height: 42px;
  padding: 0 15px;
  margin: 8px 0;
  width: 100%;
}

form .form-group .password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
form .form-group svg {
  position: absolute;
  right: 0.5rem;
}
form .form-groups button {
  max-width: 200px;
}
form .form-groups button,
form .login-action button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background-color: #4070f4;
  transition: all 0.3s linear;
  cursor: pointer;
}

form .form-groups button svg {
  fill: #fff;
  height: 1rem;
  width: 1rem;
  margin-left: 1rem;
}
form .form-groups.actions {
  margin-top: -0.1rem;
  justify-content: space-between;
  align-items: center;
}
nav {
  font-size: 0.9rem;
  font-weight: 500;
  color: #2e2e2e;

  display: flex;
  gap: 0.2rem;
}
nav a {
  color: #4070f4;
}

/* input-livechecker.css */
.form-group.has-success input:focus {
  outline: 1px solid #4070f4;
}

.form-group.has-error input:focus {
  outline: 1px solid #f45540;
}

/* password-meter.css */
.password-meter {
  height: 0.4rem;
  background-color: #ddd;
  border-radius: 10px;
  width: 90%;
  /* margin: 0 auto; */
  margin: 0 0 0.8rem 0.4rem;

  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.password-meter .progress {
  height: 80%;
  width: calc(100% / 4);
  background-color: transparent;
  border-radius: 10px;
  opacity: 0; /* Default hidden */
  transition: opacity 0.5s ease-in-out;
}

.progress.weak {
  background-color: #ff4d4d;
}

.progress.medium {
  background-color: #ffd633;
}

.progress.strong {
  background-color: #39c939;
}

.progress.super {
  background-color: #009900;
}

/* ==============================REGISTRATION SECTION=========================  */
.registration {
  max-width: 900px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.register-form .form-groups {
  display: flex;
  gap: 1rem;
}

.register-form .form-group {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ==============================LOGIN SECTION=========================  */
.login,
.forgot,
.reset {
  max-width: 450px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

.checkbox-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.3rem;
}

.checkbox label,
.checkbox a {
  color: #333;
  font-size: 14px;
}

.checkbox a {
  color: #265df2;
}
.checkbox a:hover {
  text-decoration: underline;
}

form .login-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .login-action button {
  margin: 1rem 0;
  font-size: 1rem;
}

form .login-action a:hover {
  text-decoration: underline;
}

.login form input,
.forgot form input {
  padding: 0 2.2rem;
}

.icon.left {
  left: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
}
